/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  background-color: #f6f7f9;
}

body::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-yellow-01: rgba(255, 249, 188, 1);
  --color-yellow-02: rgba(255, 249, 189, 1);

  --color-orange-01: rgba(255, 195, 97, 1);
  --color-orange-02: rgba(255, 107, 87, 1);

  --color-pink-01: rgba(249, 140, 189, 1);

  --color-green-01: rgba(195, 235, 164, 1);
  --color-green-02: rgba(174, 216, 147, 1);
  --color-green-03: rgba(115, 216, 156, 1);
  --color-green-04: rgba(3, 107, 87, 1);

  --shadow-orange-01: rgba(255, 174, 39, 1);

  --shadow-pink-01: rgba(247, 169, 160, 1);
  --shadow-pink-02: rgba(242, 104, 166, 1);

  --shadow-blue-01: rgba(28, 103, 211, 1);

  --color-blue1: rgba(105, 191, 255, 1);
  --color-blue2: #2b72d8;
  --color-blue3: #1c67d3;
  --gradient-yellow: rgba(115, 216, 156, 0);
  --color-grey: #cecece;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
